#main
{
    background-color: antiquewhite;
}

#title
{
    text-align: center;
text-decoration: underline;

font-family: 'Tangerine';
text-transform: capitalize;
text-emphasis: italic;

}

#image
{
    border-radius:50%;
    border-width: 10px;
    border-color: brown;
    border-style: double;
    margin-top:0px;
    margin-left: 370px;
    margin-right: auto;
    margin-bottom: auto;
}
#img-caption
{
    text-align: center;
    text-decoration:underline;
    
}
#tribute-info
{
    font-weight: 800;
}